.Header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 4vw;
}


.Header button {
    background: none;
    border: none;
    font-size: 1.2vw;
    cursor: pointer;
}